.card {
  border : 1px solid rgb(177, 177, 177); 
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(176, 176, 176);
  padding: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  padding: 16px;
  background: white;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card h1 {
  font-size: 1.4rem;
}